*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: hsl(236, 33%, 92%);
}

.Header{
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  height:200px;
  background-image:url('./images/bg-mobile-light.jpg');
}
.Header h1{
  letter-spacing: 5px;
  font-size: 22px;
  color: white;
}
.Header img{
  width: 15px;
  padding-top: 2px;
}
.input{
  width: 330px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: white;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 12px;
}
label{
  margin-left: 6px;
  font-size: 14px;
}
.todolist{
  background-color: white;
  border-radius: 5px; 
} 
.todolist img{
  width: 12px;
}
.todolist .items{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
padding: 10px 15px;
font-size: 12px;
}
.lists{
  padding:15px;
  border-bottom: 1px solid hsl(0, 0%, 75%);
  display: flex;
  justify-content: space-between;
}